




.container1 {
height: 50%;
background-color: rgba(177, 223, 231, 0.596);
}


.container2 {
    height: 50%;
    background-color: rgba(177, 223, 231, 0.596);
}

.col {
    margin: 15px 15px 15px 15px;
    border-style: double;
    background-color: rgba(255, 255, 255, 0.918);
    display: grid;
    place-items: center;
    padding: 5px;
    width: 250px;
  
}



